# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# App
APP_URL="http://localhost:3000"
APP_PORT=3000
APP_ENV="development" # development | production

# Database
DATABASE_URL="mysql://root:root@localhost:3306/express-starter"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="express-starter"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# JWT
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_refresh_key_min_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookie
COOKIE_SECRET=your_super_secret_cookie_key_min_32_chars